.App {
  text-align: center;
}


.center {
  display: flex;
  justify-content: center;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: lightgray;
}

.searchBar {
  width: 50vw;
  margin-right: 20px;
}

h4 {
  background-color: lightblue;
  width: 40vw;
  margin: 0 auto;
  padding: 5px;
  border: 1px solid black;
}

h3 {
  background-color: lightblue;
  width: 40vw;
  margin: auto;
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid black;
}

h3:hover {
  background-color: yellow;
  cursor: pointer;
}

.loading {
  margin-left: auto;
  margin-right: auto;
}

.twoscreencontainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 50px;
}

.notesinput {
  width: 30vw;
}

.filterinput {
  width: 30vw;
}

.header {
  background-image: url(city.jpg);
  padding-top:20px;
  padding-bottom: 20px;
  color: white;
}

.portfoliostockdiv {
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
  margin-top: 15px;
  margin-left: 15px;
}

.portfoliostockp {
  padding: 5px;
  margin: 0px;
}