.App {
  text-align: center;
}

.center {
  display: flex;
  justify-content: center;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: rgba(235, 235, 235);
}

.header {
  background-image: url(header.jpg);
  background-size: 1500px 200px;
  padding-top:20px;
  padding-bottom: 20px;
  text-align: left;
}

.title, .subtitle {
  margin: 0;
  margin-left: 20px;
}

.searchBar {
  width: 50vw;
  margin-right: 20px;
}

.roundsearchbar {
  border-radius: 2em;
  height: 30px;
  padding: 0 0 0 10px;
  font-size: 18px;
  border: 1.3px solid lightgrey;
}

.roundsearchbar:focus {
  outline: none;
  border-radius: 2em;
  border: 1.3px solid lightblue;
}

.twoscreenheaders {
  font-size: 2.2rem;
  margin: 5px;
}

.twoscreencontainer {
  display: grid;
  grid-template-columns: minmax(0, 1fr) 1fr;
  margin-bottom: 50px;
}

.portfolio {
  margin: 10px;
  margin-left: 30px;
  margin-right: 15px;
}

.portfolioheader {
  border-bottom: 2px solid grey;
}

.filterinput {
  width: 30vw;
  margin-bottom: 15px;
}

.placeholder {
  visibility: hidden;
}

.portfoliostockdiv {
  border-top: 2px dotted lightgrey;
  border-bottom: 2px dotted lightgrey;
  margin-top: 15px;
}

.portfoliostockp {
  padding: 7px;
  margin: 0px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}

.info {
  margin: 10px;
  margin-left: 15px;
  margin-right: 30px;
}

.notesinput {
  width: 30vw;
}

.infoheader {
  border-bottom: 2px solid grey;
}

.searchresults {
  padding: 20px;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 10px;
  border-top: 2px dotted lightgrey;
  border-bottom: 2px dotted lightgrey;
}

.stockinfodiv {
  margin-top: 15px;
  border-top: 2px dotted lightgrey;
  border-bottom: 2px dotted lightgrey;
}

.stocksymbol {
  font-size: 1.4rem;
  text-decoration: underline;
}

.searchresults:hover {
  cursor: pointer;
  text-decoration: underline;
}

.loading {
  margin-left: auto;
  margin-right: auto;
}

.pre {
  font-size: 17px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

input[type='number'] {
  -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
